#title{
    background-color: #f8062a;
    padding : 3% 10% 10% 10%;

}
.title-image{
    width:23%;
    height: 100%;
    transform: rotate(25deg);
    position:absolute;
    left: 55%; 
}

@media (max-width:937px){
    .title-image{
        transform: rotate(0);
        position:static;
    }
    #title{
        text-align: center;
    }
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}

.container-fluid{
    padding : 3% 10% 3% 10%;

}

.navbar-brand{
    font-family:"Ubuntu";
    font-size:100px;
    font-weight: bold;
}

.navbar{

    margin-bottom: 5%;
    padding-bottom: 20%;
}
.nav-item{
    padding: 0 15px;

}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat"; 
}

.download-button{
    margin : 5% 3%  5% 3%;
}




/* feature section */
#features{
padding: 7% 15%;

}
.feature-box{
    text-align: center;
    padding: 5% 5%;
}
h3{
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: larger;
}
p{
    color:rgb(92, 89, 89);
}

.icon{
    color:#ef8172;
    /* padding-bottom:1rem ; */
    margin-bottom: 1rem;
}

.icon:hover{
    color:#ff4c68;
}

/* testimonials */
#testimonials{

    text-align: center;
    background-color: orange;
}
h2{
    color:#fff;
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}
em{
    color:beige;
}

/* press section */
#press{
    background-color: orange;
    text-align: center;
    padding-bottom:3%;
}

.press-logo{
    width:15%;
    margin: 10px 20px 50px;
}

.carousel-item{
    padding: 10% 15%;
}
.card h2{
    color:black;
}

#pricing h2{
    color:black;
    text-align: center;
    font-size: xx-large;
}
#pricing{
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: lightgreen;
}
.card-body{
    background-color: aliceblue;
}
#pricing .row{
    padding-left: 5%;
    padding-right: 5%;
}

#pricing .btn{
    height:20%;
    width: 60%;
}

.pricing-col{
    padding-top: 3%;
}

#features{
    background-color: white;
    position:relative;
    z-index: 1;
}


/*  Call to Action  */
#cta{
    background-color: #f8062a;
    padding:15% 10% 15% 10%;
    text-align: center;
    color:#fff;
}
#cta h3{
    font-size: 2.5rem;
}

.cta-button{
    margin : 5% 3%  5% 3%;
    width:16%;
}



.cta-b{
    padding-right:15%;
}

/* footer */
#footer{
    background-color: #fff;
    padding:5% 8% 5% 8%;
    text-align: center;
}

#footer p{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#footer p:hover{
    text-align: center;
    font-size: larger;
    color:black;
}

.footer-button{
    padding-right:2%;
}
.footer-button:hover{
    color:black;
}